body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    min-width: 350px;
}

.cont{
    overflow-y: hidden;
}

header {
    background-color: #333;
    color: #fff;
    text-align: end;
    padding: 20px 20px;
    display: flex;
    align-items: center ;
    justify-content: space-between;
}

#ic{
    font-weight: bold;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
}


.central{
    width: 50%;

}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    bottom: 0;
    width: 100%;
    padding: 10px;
    font-size: x-small;

}

main p{
    text-align: justify;
}
h1{
    text-align: center;
}

img {
    width: 100%;
    height: auto;
}

aside{
    width: 300px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
aside div{
    width: 100%;
    height: 60px;
    margin-top: 10px;
    display: flex;
    background-color: #333;
    justify-content: center;
    align-items: center;
    
}

aside div:hover{
    transform: scale(1.1);
}
iframe{
    width: 100%;
}
aside h4 {
    margin: 150px;
}

aside div p {
    color: #fff;
}

.left{
    width: 300px;
    height: 100%;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.left img{
    width: 100%;
    margin-bottom: 10px;
    border-color: #333;
}

.contact{
    display: flex;
    flex-direction: column;
    text-align: center;
    
}
#enc{
    text-align: center;
}
form{
    background-color: #333;
    width: 300px;
    height: 270px;
    justify-content: center;
    margin-left: 50%;
    transform: translateX(-150px);
    margin-bottom: 230px;
}

form div p{
    align-items: center;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    color: #fff;
}


@media only screen and (max-width: 600px) {
    nav ul {
        display: block;
        text-align: center;
    }
    
    nav ul li { 
        display: block;
        margin-bottom: 10px;
    }
    main {
        padding: 20px;
        flex-direction: row;
        flex-wrap: wrap;
    }
    h1{
        text-align:left;
    }
    
    img {
        width: 100%;
        height: auto;
    }
    aside{
        width: 100%;
        margin: 0;
    }
    
    .left {
        width: 100%;
        height: auto;
        margin: 0;
        justify-content: center;
        align-items: center;

    }
    .central{
        width: 100%;
    }

    aside div{
        display: flex;
        width: 300px;
        height: 60px;
        background-color: black;
        margin-top: 10px;
        justify-content: center;
        align-items: center;
        
    }
    aside div p {
        color: #fff;
    }
    iframe{
        width: 300px;
        height: 300px;
    }
    h1{
        text-align: center;
    }
    #ic{
        font-size: 40px;

    }

    header{
        flex-wrap: wrap;
        flex-direction: column;
    }

    .textxx{
        width: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


}
